# Arquivos de configuração
/config/database.php

# Dependências
/vendor/

# Arquivos de upload
/uploads/*
!/uploads/.gitkeep

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs e arquivos temporários
*.log
*.tmp
*.temp
